{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!--Bootstrap link (first)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--JQuery CDN code integration (for "Add to cart")-->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!--Popper code-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <!--Bootstrap CDN link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    

    <title>Document</title>
</head>
<body>

        <!--Navigation bar-->
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">XYZ Shopping</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                            sagittis lacus vel augue laoreet rutrum faucibus.">
                              Cart(0)
                            </button>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
        {% block body %}
        {% endblock %}
</body>

<!--Cart creation ("Add to cart" button)-->
<script type="text/javascript">
    console.log('This is working');

    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click','.atc',function(){
        console.log('The add to cart button is clicked');
        var item_id = this.id.toString();
        console.log(item_id);

        if(cart[item_id]!=undefined){
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price"+item_id).innerHTML);
        }
        else{
            quantity = 1;
            price = parseFloat(document.getElementById("price"+item_id).innerHTML);
            name = document.getElementById('nm'+item_id).innerHTML;
            cart[item_id] = [quantity,name,price];

        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('cart').innerHTML = 'Cart(' + Object.keys(cart).length + ')';
    });

DisplayCart(cart);
function DisplayCart(cart){
    
    var cartString = '';
    cartString += '<h5>This is your cart</h5>';
    var cartIndex = 1;

    let cartObject = JSON.parse(localStorage.getItem('cart'))

    for(item in cartObject){
        console.log(cartObject[item][0])
        console.log(cartObject[item][1])
        cartString += cartObject[item][1] + " Qty: " + cartObject[item][0] + "</br >"
    }

    cartString += "<a href='/checkout'><button class='btn btn-warning' id='checkout'>Checkout</button></a>";
        
    document.getElementById('cart').setAttribute('data-content',cartString);
    $('[data-toggle="popover"]').popover();
}

</script>

</html>